<!DOCTYPE html>
<html>
<title>All about Lil Eli</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Eli page</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">My favorite things</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="images/3dd2fe3f5788c9295b339f3b09deb5d9.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="9000" height="7050">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Elijah</h1><br>
      <h5 class="w3-center">Born 2003</h5>
      <p class="w3-large"> Im 15 years old. I like designer shoes alot. My favorite shoes are Nike, Jordan, and yeezy.I have alot of designer shoes and shoes. I like hanging my shoes on the walls so it could be easiser for me to find them <span class="w3-tag w3-light-grey"></span> ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium"></p>
    </div>
  </div>
  
  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Favorites</h1><br>
      <h4>Retro 11's are my favorite</h4>
      <p class="w3-text-grey">The Air Jordan 11 “History of Flight” first came to light in 2010 as part of a rare Air Jordan “History of Flight” Collection. The Air Jordan 11 silhouette from the pack was built with a White mesh upper and matching patent leather overlays</p><br>
        <img src="images/concord.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    
      <h4>Kevin durant my favorite basketball player
      <p class="w3-text-grey">Kevin Wayne Durant is an American professional basketball player for the Golden State Warriors of the National Basketball Association.</p><br>
          <img src="images/07nbalive-durant-superJumbo.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    
      <h4> Slik durags are my favorite</h4>
      <p class="w3-text-grey">Silk is highly absorbent and dries quickly. It can absorb up to 30% of its weight in moisture without feeling damp. Silk will absorb perspiration while letting your skin breathe
In spite of its delicate appearance, silk is relatively robust and its smooth surface resists soil and odors well</p><br>
          <img src="images/Blue-250x188.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
      <h4>My Waves</h4>
      <p class="w3-text-grey">This is what your hair will most likely look like</p><br>
          <img src="images/IMG_E3844.JPG" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    
      <h4>Favorite video game</h4>
      <p class="w3-text-grey">Fortnite is my favorite game.Fortnite is a co-op sandbox survival game developed by Epic Games and People Can Fly and published by Epic Games, often compared to PlayerUnknown's Battlegrounds </p>  
          <img src="images/fortnite___2018_victory_royale___youtube___by_knkl-dbylohy.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="images/space%20jam.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>If You have any concerns about me contact me </p>
    <p class="w3-text-blue-grey w3-large"><b>Eli Service</b></p>
    <p>You can also contact us by phone 678-670-5839 or email emccaskill2@gmail.com 
        my name is Elijah McCaskill</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p> <a href="https://twitter.com/weirdoeli" title="lil Eli" target="_blank" class="w3-hover-text-green">My twitter </a></p>
</footer>

</body>
</html>
