<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MY FAVORITE DESIGNER BRANDS </title>
    
    </head>
    <body style = "background-color: red">
        <center><h1 id="TOP">MY FAVORITE DESIGNER BRANDS</h1></center>
            <br>
            <br>
    <center>
        <div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="fendi" class="w3-bar-item w3-button">FENDI</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="about" class="w3-bar-item w3-button">FERRGAMO</a>
      <a href="menu" class="w3-bar-item w3-button">HERMEZ</a>
      <a href="contact" class="w3-bar-item w3-button">GUCCI</a>
    </div>
  </div>
</div>

        
        
     <center>
         
    </center>
       
    
    <center>
        <div ID="h">
        <center><h1 id="TOP">FENDI</h1></center>
         <p>Fendi is an Italian luxury fashion house producing fur, ready-to-wear, leather goods, shoes, fragrances, eyewear, timepieces and accessories. Founded in 1925 in Rome, Fendi is renowned for its fur and fur accessories.<p>
            <img src="images/61h6LBZjo-L._SX385_.jpg">
        </div>
     </center>
            <br>
            <br>
        
     <center> 
         <div ID="birth">
             <Center><h1 id="TOP">FERRGAMO</h1>
            <p>Salvatore Ferragamo was an Italian shoe designer and the founder of luxury goods high-end retailer Salvatore  
                <img src= "images/belt.jpg">
       
             </p>
         </div>
     </center>
            <br>
            <br>
     <center>
         <div ID="future">
             <center><h1 id="TOP">Hermès</h1>
            <p>Hermès International S.A., or simply Hermès is a French high fashion luxury goods manufacturer established in 1837. It specializes in leather, lifestyle accessories, home furnishings, perfumery, jewellery, watches and ready-to-wear
                <img src="images/HERMEZ.jpg">
            </p>
         </div>
             
     </center>
        <a href="#TOP"> Return to the top</a>
    </body>
</html>